Week1_Task1/.vs/Week1_Task1/v14/.suo
Week1_Task1/Week1_Task1/bin/
Week1_Task1/Week1_Task1/obj/
Week1_Task2/.vs/Week1_Task2/v14/.suo
Week1_Task2/Week1_Task2/bin/
Week1_Task2/Week1_Task2/obj/
Week1_Task3/.vs/Week1_Task3/v14/.suo
Week1_Task5/Week1_Task5/obj/
Week1_Task3/Week1_Task3/bin/
Week1_Task3/Week1_Task3/obj/
*.suo
Week1_Task4/Week1_Task4/bin/
Week1_Task4/Week1_Task4/obj/
Week1_Task5/Week1_Task5/bin/
Week2_Task1/Week2_Task1/bin/
Week2_Task1/Week2_Task1/obj/
Week2_Task2/Week2_Task2/bin/
Week2_Task2/Week2_Task2/obj/
Week2_Task3/Week2_Task3/bin/
Week2_Task3/Week2_Task3/obj/
Week2_Task4/Week2_Task4/bin/
Week2_Task4/Week2_Task4/obj/
Week2_Task5/Week2_Task5/bin/
Week2_Task5/Week2_Task5/obj/
Week3_Task1/Week3_Task1/bin/*
Week3_Task1/Week3_Task1/obj/*
Week6_Task1/Week6_Task1/bin/*
Week6_Task1/Week6_Task1/obj/*
